[submodule "zephyr"]
    path = zephyr
    url = https://github.com/SouthBitsLab/zephyr.git

[submodule "micro_ros_zephyr_module"]
    path = micro_ros_zephyr_module
    url = https://github.com/SouthBitsLab/micro_ros_zephyr_module.git
